<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charaset="UTF-8">
        <link rel="stylesheet" href="../public/stylesheets/style.css">
    </head>
    <body>
        <div>
            <h1 id="title">Count Up!</h1>
            <div id="count">
                <div>{{number}}</div>
                <button v-on:click="increment">PUSH!</button>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script>
            var app = new Vue({
                el:'#count',
                data:{
                    number: 0
                },
                methods:{
                    increment: function () {
                        this.number++;
                    }
                },
            });
        </script>
    </body>
</html>