<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>practice</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div>
        <h1 id="title">Count Up!</h1>
        <div id="count">
          <div>{{number}}</div>
          <button v-on:click="increment">PUSH!</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>  
    <script src="../public/javascripts/script.js"></script> 
  </body>
</html>